route:
  group_by: ['alertname', 'instance']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: 'slack-notifications'

receivers:
  - name: 'slack-notifications'
    slack_configs:
      - api_url: '{{ slack_webhook_url_production }}'
        channel: '{{ slack_channel_production }}'
        send_resolved: true
{% raw %}
        title: '[{{ .Status | toUpper }}] {{ .CommonLabels.alertname }}'
        text: >-
          {{ range .Alerts }}
            *Alert:* {{ .Annotations.summary }}
            *Description:* {{ .Annotations.description }}
            *Severity:* `{{ .Labels.severity }}`
            *Instance:* {{ .Labels.instance }}
          {{ end }}
{% endraw %}